<!DOCTYPE html>

<html>
    <head>
        <title>My todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Edit todolist</h1>

  

        <form action="/todo/add" method="post">
            <p>
                <label for="newtodo">What should I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus value="<%= todolistId %>"/>
                <input type="submit" />
            </p>
        </form>
    </body>
</html>